<div class='row'>
    <div class='col-sm-4' id='left'>
        <h1>Segments</h1>
        <div class="row">
            <label class='col-sm-4 text-right' for='npcTag'>NPC Tag:</label>
            <input class='col-sm-6 text-left input-sm' type='text' name='npcTag' [(ngModel)]="input.npcTag" (ngModelChange)='this.output.alert = ""'>
        </div>
        <div class="row">
            <label class='col-sm-4 text-right' for='npcSeq'>Sequence:</label>
            <input class='col-sm-6 text-left input-sm' type='text' name='npcSeq' [(ngModel)]="input.sequence" (ngModelChange)='this.output.alert = ""'>
        </div>
        <div>
            <h4>
                Start location:
            </h4>
            <div class="row">
                <label class='col-sm-4 text-right' for='startX'>x:</label>
                <input class="col-sm-6 text-left input-sm" type='number' name='startX' [(ngModel)]="input.start.x">
            </div>

            <div class="row">
                <label class='col-sm-4 text-right' for='startY'>y:</label>
                <input class="col-sm-6 text-left input-sm" type='number' name='startY' [(ngModel)]="input.start.y">
            </div>

            <div class="row">
                <label class='col-sm-4 text-right' for='startZ'>z:</label>
                <input class="col-sm-6 text-left input-sm" type='number' name='startZ' [(ngModel)]="input.start.z">
            </div>
            <div class="row">
                <label class='col-sm-4 text-right' for='startPitch'>pitch:</label>
                <input class="col-sm-6 text-left input-sm" type='number' name='startPitch' [(ngModel)]="input.start.pitch">
            </div>

            <div class="row">
                <label class='col-sm-4 text-right' for='startYaw'>yaw:</label>
                <input class="col-sm-6 text-left input-sm" type='number' name='startYaw' [(ngModel)]="input.start.yaw">
            </div>
        </div>
        <br>
        <div>
            <button (click)='addNode()'>Add segment</button>
            <button (click)='generateOutput()'>Generate</button>
        </div>
        <br>
        <div class="alert alert-danger" *ngIf='output.alert'>
            {{output.alert}}
        </div>
        <div>
            <h4>Configuration JSON</h4>
            <textarea rows='3' [(ngModel)]='output.config'></textarea>
            <button (click)='export()'>Export</button>
            <button (click)='import()'>Import</button>
        </div>
    </div>


    <div class='col-sm-8' id='right'>
        <div *ngFor="let node of input.nodes; let i = index;">
            <h2>Segment {{i+1}}</h2>
            <button (click)='removeNode(i)'>Remove segment</button>
            <br>
            <br>
            <div class='row'>
                <div class='col-md-2 offset-md-5'>
                    <label>
                        Run:
                        <input type='checkbox' name='run-{{i}}' [(ngModel)]="node.isRunning" (ngModelChange)='recalculateTime(node)'>
                    </label>
                    <label>
                        Jump:
                        <input type='checkbox' name='jump-{{i}}' [(ngModel)]="node.jump" (ngModelChange)='recalculateTime(node)'>
                    </label>
                </div>
            </div>
            <div class='row'>
                <label class='col-sm-4 text-right' for='wait-{{i}}'>Wait ticks:</label>
                <input class='col-sm-6 text-left input-sm' type='number' name='wait-{{i}}' [(ngModel)]="node.wait" (ngModelChange)='recalculateTime(node)'>
            </div>
            <div class='row'>
                <label class='col-sm-4 text-right' for='moveX-{{i}}'>Move X:</label>
                <input class='col-sm-6 text-left input-sm' type='number' name='moveX-{{i}}' [(ngModel)]="node.moveX" (ngModelChange)='recalculateTime(node)'>
            </div>
            <div class='row'>
                <label class='col-sm-4 text-right' for='moveY-{{i}}'>Move Y:</label>
                <input class='col-sm-6 text-left input-sm' type='number' name='moveY-{{i}}' max='1.2' [(ngModel)]="node.moveY" (ngModelChange)='recalculateTime(node)'>
            </div>
            <div class='row'>
                <label class='col-sm-4 text-right' for='moveZ-{{i}}'>Move Z:</label>
                <input class='col-sm-6 text-left input-sm' type='number' name='moveZ-{{i}}' [(ngModel)]="node.moveZ" (ngModelChange)='recalculateTime(node)'>
            </div>
            <div *ngIf='node.moveY || node.jump'>
                <div class='row'>
                    <label class='col-sm-4 text-right' for='moveYStart-{{i}}'>Move Y offset tick:</label>
                    <input class='col-sm-6 text-left input-sm' type='number' name='moveYStart-{{i}}' min='0' [(ngModel)]="node.moveYStart" (ngModelChange)='recalculateTime(node)'>
                </div>
            </div>
            <div>
                <label>This will take {{node.ticks + node.wait}} ticks</label>
            </div>
            <hr>
        </div>

        <div *ngIf="output.runTrig">
            <h3>Add to runner.mcfunction</h3>
            <textarea rows='2' readonly>{{output.runTrig}}</textarea>
        </div>

        <div *ngIf="output.trigger">
            <h3>Stub {{input.sequence}}.trigger.mcfunction</h3>
            <textarea rows='2' readonly>{{output.trigger}}</textarea>
        </div>

        <div *ngIf="output.start">
            <h3>{{input.sequence}}.start.mcfunction</h3>
            <textarea rows='2' readonly>{{output.start}}</textarea>
        </div>

        <div *ngIf="output.runner">
            <h3>{{input.sequence}}.runner.mcfunction</h3>
            <textarea rows='7' readonly>{{output.runner}}</textarea>
        </div>
    </div>
</div>